<form [formGroup]="AddAssetForm" (ngSubmit)="onSubmit()">
  <img src="exaze-logo.jpg" class="logo" />
  <div class="form-container mt-3 container-xxl">
    <div class="heading">
      <h2 class="heading-text m-0">Adding New Asset</h2>
      <div class="heading-underline-design"></div>
    </div>

    <div class="Category-container">
      <select
        formControlName="category"
        [formControl]="categoryControl"
        class="form-field"
        [ngClass]="{
          'lg-error':
            AddAssetForm.get('category')?.invalid &&
            AddAssetForm.get('category')?.touched
        }"
        (change)="onCategoryChange($event)"
      >
        <option value="" disabled selected>Category</option>
        <option *ngFor="let item of categoryList" [value]="item.categoryId">
          {{ item.categoryName }}
        </option>
      </select>
      <div
        *ngIf="
          AddAssetForm.get('category')?.touched &&
          AddAssetForm.get('category')?.invalid &&
          AddAssetForm.get('category')?.errors
        "
        class="lg-errror-msg"
      >
        *Category required
      </div>
    </div>

    <div class="Brand-container">
      <select
        formControlName="brand"
        class="form-field"
        [ngClass]="{
          'lg-error':
            AddAssetForm.get('brand')?.invalid &&
            AddAssetForm.get('brand')?.touched
        }"
      >
        <option value="" disabled selected>Brand</option>
        <option *ngFor="let item of brandList" [value]="item.brandId">
          {{ item.brandName }}
        </option>
      </select>
      <div
        *ngIf="
          AddAssetForm.get('brand')?.touched &&
          AddAssetForm.get('brand')?.invalid &&
          AddAssetForm.get('brand')?.errors
        "
        class="lg-errror-msg"
      >
        *Brand required
      </div>
    </div>

    <div class="Location-container">
      <select
        formControlName="location"
        class="form-field"
        [ngClass]="{
          'lg-error':
            AddAssetForm.get('location')?.invalid &&
            AddAssetForm.get('location')?.touched
        }"
      >
        <option value="" disabled selected>Location</option>
        <option *ngFor="let item of locationList" [value]="item.id">
          {{ item.city }}
        </option>
      </select>
      <div
        *ngIf="
          AddAssetForm.get('location')?.touched &&
          AddAssetForm.get('location')?.invalid &&
          AddAssetForm.get('location')?.errors
        "
        class="lg-errror-msg"
      >
        *Location required
      </div>
    </div>

    <div class="SerialNumber-container">
      <input
        formControlName="serialNumber"
        type="text"
        placeholder="Serial Number"
        class="form-field"
        [ngClass]="{
          'lg-error':
            AddAssetForm.get('serialNumber')?.invalid &&
            AddAssetForm.get('serialNumber')?.touched
        }"
        id="serialNumber"
      />
      <div
        *ngIf="
          AddAssetForm.get('serialNumber')?.touched &&
          AddAssetForm.get('serialNumber')?.invalid &&
          AddAssetForm.get('serialNumber')?.errors
        "
        class="lg-errror-msg"
      >
        *Serial number required
      </div>
    </div>

    <textarea
      style="height: 70px"
      formControlName="description"
      placeholder="Description"
      class="form-field"
      id="Description"
    ></textarea>

    <div formArrayName="assetAttributes" class="feature-information">
      <button type="button" class="add-feature-btn" (click)="onAddFeature()">
        <img src="add.png" alt="" class="feature-img" />
        Add Feature
      </button>
      <div class="feature-block">
        <div
          *ngFor="let group of assetAttributes.controls; let i = index"
          [formGroupName]="i"
          class="feature-row"
        >
          <div class="feature-details">
            <select formControlName="feature" class="feature-fields">
              <option value="" disabled selected>Feature</option>
              <option *ngFor="let item of featureList" [value]="item.featureId">
                {{ item.featureKey }}
              </option>
            </select>
            @if(istoggleOn){
            <input
              formControlName="value"
              type="text"
              placeholder="Value"
              class="feature-fields"
            />
            }@else{
            <select formControlName="feature" class="feature-fields">
              <option value="" disabled selected>value</option>
              <ng-container *ngFor="let item of featureList_ALT">
                <optgroup [label]="item.name">
                  <option *ngFor="let value of item.values" [value]="value.id">
                    {{ value.value }}
                  </option>
                </optgroup>
              </ng-container>
            </select>
            }
            <button
              type="button"
              class="remove-feature-btn"
              (click)="onRemoveFeature(i)"
            >
              <img src="remove.png" class="feature-img" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex action-buttons">
      <button class="submit-button">submit</button>
      <button class="cancel-button">Cancel</button>
    </div>
  </div>
</form>
